
body {
	background-color: 	#F4F4F4;
	
}

.container-fluid {
	width: 100%;
}

.city {
    height:35px;
    width:200px;
    margin-top: 10px;
}

header {
    margin-bottom: 10px;
}

.resultsTwo {
    padding-top: 20px;
    background-color: 	#d8d8c7;
    min-height: 180px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

.favorites {
    padding-top: 20px;
    background-color: 	#d8d8c7;
    min-height: 360px;
    height: auto;
    margin-left: 15px;
    margin-top: 20px;
}

.well {
    position:relative;
    min-height: 80px, 
    color: white;
    height: auto;
    background-color: #f2f1dc;
}

#jobInfo {
    background-color: #fffeea;
}

.header {
	width: 100%;
    background-size: cover;
    height: 280px;
    background-image: url(https://d13k13wj6adfdf.cloudfront.net/urban_areas/phoenix_web-92224752db.jpg);
    margin-bottom: 0;
}

button,
input {
    color: black;
}

.navbar {
    font-family: impact;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 0;
    height: 80px;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.label {
    height: 20px;
}

.logIn {
    display: inline-block;
}

.remove {
    position:absolute;
    top: 1px;
    right: 1px;
}

.togg{
    background-color: black;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 10px blue, 0 0 5px darkblue;
    height: 26px;
}

#toggle{
    font-size: 20px;
    background-color: #c4c4c4;
}

#userEmail, #userSignOut {
    font-family: arial;
    letter-spacing: 0px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}



